$primary-color: #FFFFFF;
$border-color: #A0A0A0;
$navigation-var-color: #686868;
$option-active-color: #D3D3D3;
$category-active: #E4E3E3;
$background-second: #f1f1f1;
$primary-font-color: #000000;
$primary-blue: #002B45;
$shadowcolor: rgba(34, 34, 34, 0.2);
