$navigation-height: 60px;
$large-font-size: 24px;
$regular-font-size: 16px;
$medium-font-size: 14px;
$small-font-size: 12px;
$medium-padding: 40px;
$padding-xmedium: 16px;
$small-padding: 10px;
$bold-font: bold;
$right-margin-size: 10px;
$circle-radius: 50%;
$panel-margin: 305px;