@import '../../styles/__globals.scss';

.products-section {
    display: flex;

    &__products-list {
        height: 100%;
        display: flex;
        flex-direction: column;
        margin-left: $panel-margin;
        padding: $small-padding;

        &-title {
            margin: $small-padding;
            font-size: $medium-font-size;
        }
    }
}